<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Тестовое приложение</title>

    <partial name="Partial/_Styles"/>
</head>
<body>
    <partial name="Partial/_Header"/>

    <main class="container">
        @RenderBody()
    </main>

    <partial name="Partial/_Scripts"/>
</body>
</html>
